body{
    margin: 0px;
}
#container {
    height: 100vh;
    position: relative;
    background-color: aqua;
    overflow: hidden;
}
.cloud{
    width: 200px;
    height: 80px;
    background-color: white;
    border-radius: 40px;
    position: absolute;
    margin: 100px;
}